/.vscode/
/.idea/
laioffer/notes/watch_reviews.tsv
laioffer/practice/data/watch_reviews.tsv
laioffer/DS Track/Police_Department_Incident_Reports__Historical_2003_to_May_2018_1.csv
laioffer/practice/data/Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv
laioffer/.DS_Store
